{{> head}}
{{> nav}}

<div class="row">
    <div class="col-8">
        <h1>Raspi</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati magni debitis minima suscipit tenetur veritatis quaerat perspiciatis nulla neque enim. Placeat iusto dolorem deleniti magnam. Aliquam quod reprehenderit itaque voluptates?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/Raspi.png" alt="img-thumbnail" width="120" height="100">
    </div>
</div>


{{> footer}}